@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(212, 45%, 89%); /* Slate 300 */
}

.container {
  background-color: hsl(0, 0%, 100%); /* White */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 375px; /* Mobile width */
  width: 100%;
}

header img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 24px;
  font-weight: 700; /* Bold */
  color: hsl(218, 44%, 22%); /* Slate 900 */
}

.heading p {
  font-size: 15px; /* Body Copy font size */
  color: hsl(216, 15%, 48%); /* Slate 500 */
  margin: 20px;
}

/* Media Query for Desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px; /* Desktop width */
  }
}
